body {
  width: 700px;
  height: 600px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  margin: 8%;
}

h1 {
  align-self: center;
  margin-left: 70%;
  font-size: 60px;
  text-align: center;
  color: blue;
  border-radius: 6px;
  border: 1px solid lightblue;
  padding: 5px;
  display: inline-block;
}

div {
  width: 100%;
  margin-top: 70%;
  margin-left: -70%;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
